@media screen and (max-width: 768px){
    .bg-image{
        width: 768px;
        background-size: contain;
    }
    .jaratszam, .tarsasag{
        display: none;
    }
    table{
        width: 20%;
    }
}

body{
    width: 70%;
    margin: auto;
    background-color: black;
    border-left: 2px solid white;
    border-right: 2px solid white;
    color: white;
    padding: 1rem;
}

body::-webkit-scrollbar {
    display: block;
}

main div{
    max-height: 500px;
    padding: 1rem;
    margin: 1rem;
    overflow-y: auto;
}

main div::-webkit-scrollbar {
    width: 10px;
}

main div::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: 100px;
}

main div::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-image: linear-gradient(180deg, black 0%, white 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.list-group-item:nth-child(2n){
border: 1px solid white;
color: white;
background-color: black;
width: 100%;
text-align: center;
}

.list-group-item:nth-child(2n+1){
border: 1px solid white;
color: black;
background-color: white;
width: 100%;
text-align: center;
}