body{
    background-color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
    color: black;
}

body .container{
    background-color: white;
}

.list-group-item:nth-child(2n){
    border: 1px solid black;
    color: black;
    background-color: white;
    width: 100%;
    text-align: center;
}

.list-group-item:nth-child(2n+1){
    border: 1px solid black;
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
}