#plane{
    height: 174px;
    width: 300px;
    background-image: url("../img/bg_bb.png");
    position: absolute;
    top: 250px;
    -webkit-animation: moving 15s infinite;
    animation: moving 15s infinite;
}

#plane2{
    height: 174px;
    width: 300px;
    background-image: url("../img/bg_b.png");
    position: absolute;
    top: 250px;
    -webkit-animation: back 15s infinite;
    animation: back 15s infinite;
}

body{
    width: 70%;
    margin: auto;
    position: relative;
}

body::-webkit-scrollbar {
    display: block;
}

main div{
    max-height: 500px;
    padding: 1rem;
    margin: 1rem;
    overflow-y: auto;
}

main div::-webkit-scrollbar {
    width: 10px;
}

main div::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: 100px;
}

main div::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-image: linear-gradient(180deg, black 0%, white 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

#movetxt {
    position: relative;
    -webkit-animation: txt 5s infinite;
    animation: txt 5s infinite;
}

@-webkit-keyframes txt {
    from {right: 5%;}
    to {right: 60%;}
}

@keyframes txt {
    from {left: 5%;}
    to {left: 60%;}
}
		
@-webkit-keyframes moving {
    from {right: 3%;}
    to {right: 75%;}
}

@keyframes moving {
    from {left: 3%;}
    to {left: 75%;}
}

@-webkit-keyframes back {
    from {right: 75%;}
    to {right: 3%;}
}

@keyframes back {
    from {left: 75%;}
    to {left: 3%;}
}

th,td{
    width: 20%;
}

@media (max-width: 1200px) {

}
@media (max-width: 992px) {	
 
}

@media screen and (max-width: 768px){
    body{
        width: 100%;
        padding: 0px;
        margin: 0px;
        border-width: 0px;
    }
    .container{
        padding: 0px;
    }
    .bg-image{
        width: 768px;
        background-size: contain;
    }
    .jaratszam, .tarsasag{
        display: none;
    }
    table{
        width: 20%;
    }
    footer .container{
        display: none;
    }
    #tablemenu>button{
        height: 200%;
    }
    #plane,#plane2{
        display: none;
    }
    #movetxt {
        position: relative;
        -webkit-animation: none;
        animation: none;
        margin: 10px;
        text-align: center;
    }
}